@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#navbar {
  background-color: #00800096;
  font-size: 25px;
  padding: 16px;
  position: sticky;
  top: -100px;
  z-index: 1;
}
.navbar001 {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.navbar001 .left-container {
  display: flex;
  gap: 12px;
}
.navbar001 .left-container input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px;
}
.navbar001 .left-container .logo {
  color: #fff;
}
.navbar001 .right-container {
  display: flex;
  gap: 30px;
  text-align: center;
}
.navbar002 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.left-container ul {
  display: flex;
  color: #fff;
  text-decoration: none;
  list-style: none;
  gap: 25px;
}
.left-container li,
a {
  text-decoration: none;
  color: #ffff;
  display: flex;
  align-items: center;
}
.navbar002 .right-container {
  display: flex;
  justify-content: space-around;
}
.right-container ul {
  display: flex;
  color: #fff;
  text-decoration: none;
  list-style: none;
  gap: 20px;
}
.auth-buttons button {
  width: 100px;
  border: none;
  outline: none;
  padding: 12px;
  font-weight: 700;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* Add to Cart */
#add-to-cart-container {
  margin: 5em 130px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 23px;
}
.name-box span {
  font-size: 22px;
}
.amount-box span {
  font-size: 22px;
}
.address-section span {
  font-size: 22px;
}
.address-section a {
  color: goldenrod;
  text-decoration: underline;
  font-size: 20px;
}
.cart-table {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 55px;
  gap: 12px;
}
table.table-items {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
}
table.table-items th {
  color: #fff;
  padding: 5px 4px;
  background-color: #00800096;
}
table.table-items td {
  padding: 15px;
}
.cart-table tbody td img {
  width: 100px;
}
.item-payment {
  width: 20%;
}
.item-payment button:nth-child(1) {
  margin-bottom: 12px;
  background-color: goldenrod;
}
.item-payment button:nth-child(1):hover {
  background-color: gold;
}
.item-payment button {
  width: 100%;
  padding: 15px;
  background-color: #ff6b6c;
  color: #ffff;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
}
.item-payment button:hover {
  background-color: rgba(218, 46, 46, 0.849);
}
/* Add to Cart */